.footer {
  background-color: $backgroundColor;
  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
  }
  &__left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__address {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    & a {
      line-height: 1.7;
      color: $lightText;
    }
  }
  & p {
    color: $white;
  }
  & a {
    text-decoration: none;
  }
  &__contact {
    color: $lightText;
    list-style-type: none;
  }
  &__join-to-us {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
  }
  &__socialmedia-icons {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  &__socialmedia-icon {
    display: flex;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    & a {
      width: 44px;
      height: 44px;
    }
    & svg {
      fill: $white;
      padding: 11px;
    }
  }
  .subscribe-newsletter {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__heading {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 20px;
      text-align: center;
    }
    &__input-email-newsletter {
      width: 100%;
      height: 50px;
      background-color: $backgroundColor;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      font-size: 20px;
      padding: 15px 16px;
      color: $white;
      &:focus-within {
        outline: none;
      }
    }
    &__newsletter-button {
      padding: 10px 28px 10px 42px;
      background-color: $primaryColor;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: $white;
      border: none;
      height: 50px;
      font-size: 16px;
      font-weight: 700;
      display: flex;
      gap: 24px;
      align-items: center;
      letter-spacing: 0.06em;
      margin: 20px auto 0 auto;
      max-width: 210px;
      width: 100%;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__flex {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    }
    &__socialmedia-icons {
      margin-bottom: 0px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__flex {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: unset;
    }
    &__left {
      align-items: flex-start;
      margin-bottom: 0;
    }
    &__address {
      & ul {
        align-items: flex-start;
      }
    }
    &__right {
      margin-top: 12px;
      align-items: center;
    }

    &__socialmedia-icon {
      transition: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      & a {
        &:focus {
          background-color: $primaryColor;
          cursor: pointer;
          outline: none;
          border-radius: 50%;
          & svg {
            fill: $white;
          }
        }
      }
      &:hover {
        background-color: $primaryColor;
        cursor: pointer;
      }
      & svg {
        transition: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
          fill: $white;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      & svg {
        fill: $white;
      }
      &:hover {
        background-color: $primaryColor;
      }
    }
    &__join-to-us {
      text-align: start;
    }
    .subscribe-newsletter {
      margin-top: 12px;
      &__heading {
        text-align: start;
      }
      &__newsletter-button {
        margin: 0;
      }
    }
  }

  .subscribe-newsletter {
    margin-left: 8px;
    &__input-email-newsletter {
      min-width: 280px;
    }
    &__newsletter-button {
      cursor: pointer;
    }
    &__newsletter-form {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
