.lorem-ipsum {
  &__grid {
    display: flex;
    flex-direction: column;
  }
  &__item {
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
  }
  &__svg {
    background-color: #f5f4fa;
    max-width: 450px;
    width: 100%;
    padding: 25px 0;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__heading {
    font-size: 14px;
    line-height: 1.17214;
    margin-bottom: 10px;
  }
  & p {
    color: $lightText;
    line-height: 1.715;
    font-size: 14px;
    max-width: 450px;
    margin: 0 auto;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .lorem-ipsum {
    &__grid {
      justify-content: space-between;
      flex-direction: row;
      max-width: 95vw;
      flex-wrap: wrap;
    }
    &__item {
      max-width: 45%;
      text-align: start;
    }
  }
}

@media screen and (min-width: 1200px) {
  .lorem-ipsum {
    &__grid {
      max-width: 100vw;
      width: 100%;
    }
    &__item {
      max-width: 270px;
    }
    &__svg {
    }
  }
}
