.team {
  background-color: $contact;
  &__employ-card {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  & figure {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $white;
  }
  &__name {
    font-weight: 500;
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
  }
  &__job-position {
    color: $lightText;
    line-height: 1.171875;
    display: flex;
    justify-content: center;
  }
  &__socialmedia-icons {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px 0 20px 0;
  }
  &__socialmedia-icon {
    display: flex;
    align-content: center;
    border-radius: 50%;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    & a {
      width: 44px;
      height: 44px;
      &:focus {
        background-color: $primaryColor;
        cursor: pointer;
        outline: none;
        border-radius: 50%;
        & svg {
          fill: $white;
        }
      }
    }
    &:hover {
      background-color: $primaryColor;
      cursor: pointer;
    }
    & svg {
      fill: $iconsColor;
      padding: 11px;
      transition: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        fill: $white;
      }
    }
  }
}
