$primaryColor: #2196f3;
$lightText: #757575;
$primaryText: #212121;
$white: #ffffff;
$contact: #f5f4fa;
$backgroundColor: #2f303a;
$studioText: #000000;
$iconsColor: #afb1b8;
$primaryFontFamily: "Roboto", sans-serif;
$logoFontFamily: "Raleway", sans-serif;
